$mainTextColor: #3B4044;
$mainColor: #2ECC87;
$hoverColor: #2E9F64;
$warningColor: #FF3D72;
$focusColor: #2495E7;
$disabledColor: #BAEAD5;
$placeholderColor: #C1C1C1;
$borderColor: #ADBBC4;
$datePickerColor: #F0F5F6;

$mobileDeviceSize: 624px;

$fieldMarginTop: 24px;
$elementMarginTop: 8px;

$fontSizeTitle: 24px;
$lineHeightTitle: 32px;
$fontSizeStandard: 14px;
$fontSizeBig: 16px;
$lineHeightBig: 20px;

$inputHeight: 36px;
$buttonHeight: 40px;

$blockBorderRadius: 8px;
$inputBorderRadius: 4px;